<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li<%= sidebar_current("docs-home") %>>
              <a href="/docs/providers/index.html">&laquo; Documentation Home</a>
            </li>

            <li<%= sidebar_current("docs-freenas-index") %>>
              <a href="/docs/providers/freenas/index.html">FreeNAS provider</a>
            </li>

            <li<%= sidebar_current("docs-freenas-resource-sharing") %>>
              <a href="#">Sharing Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-freenas-resource-nfs") %>>
                  <a href="/docs/providers/freenas/r/nfs.html">NFS share</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-freenas-resource-storage") %>>
              <a href="#">Storage Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-freenas-resource-dataset") %>>
                  <a href="/docs/providers/freenas/r/dataset.html">NFS share</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
